.page-about .page-title {
  max-width: 900px;
  margin-bottom: 32px;
}

.page-about .content-section {
  max-width: 82ch;
}

.code-sample {
  margin: 32px 0;
  padding: 24px;
  overflow: auto;
  border-left: 3px solid rgb(207, 187, 157);
  background: white;
  font-size: 15px;
  line-height: 1.6;
}
